<div class="card-container">
  <div>
    <mat-icon
      class="user-icon"
      aria-hidden="false"
      aria-label="user"
      fontIcon="account_circle"
    ></mat-icon>
    <div class="user-detail">
      <p class="name">Kunjan Kumar</p>
      <p class="position">Director, Housing and Development</p>
      <p class="location">New Delhi</p>
    </div>
  </div>
  <div>
    <mat-icon
      aria-hidden="false"
      aria-label="user"
      fontIcon="thumb_up"
    ></mat-icon>
    <span class="caption">Hire</span>
    <span class="caption">1 Jul 2018</span>

  </div>
  <div>Awaiting Feedback</div>
  <div>Undecided</div>
  <div>1 Jul 2018</div>
  <div>7</div>
  <div>3</div>
  <div>
    The Shiba Inu is the smallest of the six original and distinct spitz breeds
    of dog from Japan. A small, agile dog that copes very well with mountainous
    terrain, the Shiba Inu was originally bred for hunting.
  </div>
</div>
