<div class="card-container">
  <div>
    <mat-icon
      class="candidate-icon"
      aria-hidden="false"
      aria-label="candidate"
      fontIcon="account_circle"
    ></mat-icon>
    <div class="candidate-detail">
      <p class="name">Kunjan Kumar</p>
      <p class="position">Director, Housing and Development</p>
      <p class="location">New Delhi</p>
    </div>
  </div>
  <div>
    <mat-icon
      class="hire-icon"
      aria-hidden="false"
      aria-label="candidate"
      fontIcon="thumb_up"
    ></mat-icon>
    <span class="caption">Hire</span>
    <span class="caption">1 Jul 2018</span>
  </div>
  <div>Awaiting Feedback</div>
  <div>
    <mat-icon
      aria-hidden="false"
      aria-label="candidate"
      fontIcon="thumb_down"
    ></mat-icon>
    <span class="caption">No Hire</span>
    <span class="caption">1 Jul 2018</span>
  </div>
  <div>
    <mat-icon
      aria-hidden="false"
      aria-label="candidate"
      fontIcon="date_range"
    ></mat-icon>
    <span class="caption">1 Jul 2018</span>
  </div>
  <div class="leads">7</div>
  <div class="captured">3</div>
  <div>
    <p>No Comments</p>
    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>EDIT COMMENT</button>
      <button mat-menu-item>HIDE CANDIDATE</button>
    </mat-menu>
  </div>
</div>
