.card-container {
  display: grid;
  grid-template-columns: 250px 100px 100px 100px 160px 100px 100px 250px;
  grid-gap: 20px;
  background-color: #ffffff;
  max-height: 200px;
  text-align: center;
}
.card-container,
* {
  color: #909095;
}
p {
  margin: 0;
}
.caption {
  display: block;
}
.hire-icon {
  color: #50c350;
}
.candidate-icon,
.candidate-detail,
.name,
.leads,
.captured {
  color: black;
}
.candidate-icon {
  transform: scale(2);
}
.candidate-detail {
  float: right;
}
.name {
  font-size: 18px;
  font-weight: 500;
}
.position,
.location {
  font-size: 15px;
}
